<% if model.errors.any? %>
  <div class="alert alert-danger" id="error_explanation">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong><%= t('errors.template.header', model: model.class.model_name.human, count: model.errors.count) %></strong>

    <ul class="list-unstyled">
    <% model.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
