<% flash.each do |type, message| %>
  <div class="alert alert-<%= type %> alert-dismissable fade in ">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= message %>
  </div>
<% end %>
