<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Test</a></div>
      <nav class="collapse navbar-collapse">
        <% if current_user %>
          <ul class="nav navbar-nav">
            <li class="<%= "active" if params[:controller] == "messages" %>"><%= link_to 'Messages', messages_path %></li>
            <li class="<%= "active" if params[:controller] == "users" %>"><%= link_to 'Users', users_path %></li>
          </ul>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        </ul>
      </nav>
  </div>
</nav>
