<%= form_for @message do |f| %>
  <%= render partial: 'shareds/error_messages', locals: { model: @message } %>

  <div class="form-group">
    <%= f.label :to %>
    <%= f.select :to_id, options_from_collection_for_select(@users, "id", "email") %>
  </div>

  <div class="form-group">
    <%= f.label :subject %>
    <%= f.text_field :subject, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control', rows: 5, required: true %>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
