<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shareds/navbar' %>

    <div class="container-fluid">
      <%= render partial: "shareds/flash_messages", flash: flash %>

      <%= yield %>
    </div>
  </body>
</html>
