<%= form_for @user do |f| %>
  <%= render partial: 'shareds/error_messages', locals: { model: @user } %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :admin %>
    <%= f.select :admin, [['Yes', true], ['No', false]], {}, { class: 'form-control' } %>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
