<tr>
  <td><%= user.email %></td>
  <td><%= user.admin ? "Yes" : "No" %></td>
  <td>(<%= user.inbox.count %>) message(s)</td>
  <td>(<%= user.sends.count %>) message(s)</td>
  <td><%= l user.created_at, format: :short %></td>
  <td><%= link_to "Edit", edit_user_path(user) %> | <%= link_to "Delete", user_path(user), method: :delete, data: { confirm: 'Are you sure?' } if user != current_user %></td>
</tr>
